ul{
    display:flex;
    margin-left: 20%; 
}
nav{
    width: 70%;
    margin: 0 auto;
    /* // background-color: brown; */
}
li{
    list-style-type:none;
    margin-right: 35px;
}
li a{
    text-decoration: none;
    color: black;
}

.active{
    border-bottom: 2px solid black;

}
.heading{
   
        font-size: 18px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
   
}
@media  screen and (min-width: 768px) and  (max-width:991px){
    ul{
        margin-left: 0%;
        padding-left: 15px;
    }
}
@media  screen and  (max-width:767px){
    nav{
        width: 100%;
    }
    ul{
        margin-left: 0;
    }
    li{
        margin-right: 7px;
    }
    .heading{
        font-size: 16px;
    }
 }

 @media screen and (max-width:375px){
     nav{
         margin-left: 0;
     }
     ul{
         margin-left: 0;
         padding-left:15px;;
     }
     li{
         margin-left: 0;
         margin-right: 5px;
     }
     .heading{
         font-size: 13px;
     }
 }