<div class="body">
<div class="heading1 noti" >
    Notifications
</div>
<!-- {{notice[1]}} -->
<div class="noti-display">
    <div class="notification adj">         
        <table class="layout display sub-text" >   
              
            <tbody>
                 <tr *ngFor = "let noti of listedplaces;index as i">
                    <td >
                       <b>Date:</b>{{noti.date}}
                    </td>
                    <td colspan="2">
                       <b>Title:</b>{{noti.title}}
                       <br>
                       <div class="small"><b>Link:</b><a target="_blank" [href]=noti.link>{{noti.link}}</a></div>
                    </td>                   
                   <td class="big" >
                    <b>Link:</b><a target="_blank" [href]=noti.link>{{noti.link}}</a>
                    </td>
                   </tr>                  
            </tbody>
        </table>
    </div>
    <div class="data">
      
        <div class="notidata">
            <div class="sub-head" style="color: black;" >Total notification :{{notification.length}}</div> 
            <div class="sub-head" style="color: green;">Latest notification :{{latest}}</div>
            <div class="sub-head" style="color:red ;">Oldest notification :{{oldest}}</div>
        </div>
        <div class="search">
            
            <div class="sub-head">Search for Date...</div>
            <div class="search_input" id="search_input_box">
             <div class="container">
               <form class=" justify-content-between" style="display: flex;">
                <input type="text" class="form-control"  id="search_input" placeholder="Search Here" (keyup)="search($event.target.value)">
                <button type="submit" class="btn"></button>
               
              </form>
            </div>
        </div>

   </div>
</div>
</div>
<li *ngFor="let place of listedplaces" >
                                 <h3>{{place.title}}</h3>
                                 <h3>{{place.link}}</h3>
                                 <button class="btn" (click)="Location(place)" class="btn">My Location</button>
                             </li>